<div class="container">
<p *ngIf="logi == false">This page will be replaced by your application login page </p>
 <p *ngIf="logi">This page will be replaced by your application home page </p>
    <div *ngIf="logi == false">
    <div class="form-group">
        <div>
            Username
        </div>
        <div>
            <input [(ngModel)]="username" class="form-control" name="username" placeholder="username" type="text"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            Password
        </div>
        <div>
            <input name="password" [(ngModel)]="password" class="form-control" type="password" placeholder="Password"/>
        </div>
    </div>
    </div>
    <div>
        <button *ngIf="logi == false" name="login" (click)="onLogin()">Log in</button>
        <button *ngIf="logi" name="logout" (click)="onLogout()">Log out</button>
       <!-- <button (click)="onRegister()" name="register">Register</button>-->

    </div>
  <!--  <div *ngIf="registrationMessage">
        <p>{{registrationMessage}}</p>
    </div>-->


</div>


<ngx-chat rosterState="shown"></ngx-chat>



