<div class="container">

    <div class="form-group">
        <div>
            Username
        </div>
        <div>
            <input [(ngModel)]="username" class="form-control" name="username" placeholder="username" type="text"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            Password
        </div>
        <div>
            <input name="password" [(ngModel)]="password" class="form-control" type="password" placeholder="Password"/>
        </div>
    </div>

    <div>
        <button name="login" (click)="onLogin()">Log in</button>
        <button name="logout" (click)="onLogout()">Log out</button>
        <button (click)="onRegister()" name="register">Register</button>

    </div>
    <div>{{chatService.state$ | async}}</div>
    <div *ngIf="registrationMessage">
        <p>{{registrationMessage}}</p>
    </div>


</div>
<ngx-chat rosterState="shown"></ngx-chat>
